/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Calibri', sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left; /* Mudei para alinhar o texto à esquerda */
}

h1 {
    color: #007bff;
    margin-bottom: 20px;
    text-align: center; /* Centraliza o título */
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo para os campos de entrada e seleção */
input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Estilo para a combinação SS e ID */
.ss-id-group {
    display: flex;
    justify-content: flex-start; /* Alinha à esquerda */
    margin-top: 5px; /* Espaçamento superior */
}

/* Ajuste para os campos SS e ID */
#ss {
    width: 80px; /* Largura fixa para SS */
    margin-right: 0; /* Remove a margem direita para colar os campos */
}

#id {
    width: 80px; /* Largura fixa para ID */
    margin-left: 0; /* Remove a margem esquerda para colar os campos */
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0; /* Margem superior e inferior */
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

/* Adicionando o estilo para o X vermelho */
.excluir {
    color: red;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px; /* Ajuste o tamanho conforme necessário */
}

.hidden {
    display: none;
}

/* Alinhamento das ações disponíveis */
.acoes-container {
    margin: 10px 0; /* Margem superior e inferior */
}

/* Cada ação com checkbox em linha */
.acao-disponivel {
    display: flex; /* Usar flexbox para cada ação */
    align-items: center; /* Centraliza verticalmente */
    margin: 5px 0; /* Espaçamento entre as ações */
}

/* Ajuste para a checkbox */
.acao-disponivel input[type="checkbox"] {
    margin-right: 5px; /* Espaçamento entre a checkbox e o texto */
    width: auto; /* Largura automática para a checkbox */
}
