/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container para os blocos */
.container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: 80%;
    max-width: 1000px;
}

/* Estilos dos blocos */
.block {
    width: 30%;
    padding: 40px;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none; /* Remove sublinhado */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.block:hover {
    background-color: #0056b3;
}

.block h2 {
    margin-bottom: 10px;
}

.block p {
    margin-top: 5px;
    font-size: 18px;
}
