/* Reset básico para evitar inconsistências entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: #007bff;
    margin-bottom: 30px;
}

.options-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.option-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.option-box h2 {
    font-size: 1.5em;
    color: #007bff;
    margin-bottom: 10px;
}

.option-box p {
    font-size: 1em;
    color: #333;
}

.option-box:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .options-container {
        flex-direction: column;
        align-items: center;
    }
    
    .option-box {
        width: 90%;
        margin-bottom: 20px;
    }
}
