body {
    font-family: Calibri, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0056b3;
}

form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #0056b3;
    color: white;
}

.delete-button {
    color: red;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
    width: 100%; /* Faz com que o "X" ocupe toda a largura da célula */
}

td {
    vertical-align: middle; /* Centraliza o conteúdo verticalmente */
}

.hidden {
    display: none;
}
