/* Estilo moderno com paleta de cores azul */

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

header {
  background-color: #2196f3;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.linha {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.modulo {
  width: 20%;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  color: #333;
}

.modulo:hover {
  background-color: #eee; /* Estilo de hover */
  cursor: pointer; /* Cursor de ponteiro */
}

.clicavel {
  text-decoration: none; /* Remover sublinhado */
  color: #333; /* Cor de texto escura */
}

.clicavel:hover {
  text-decoration: none; /* Remover sublinhado */
  color: #333; /* Cor de texto escura */
}
